.git/
.pip-cache/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/

track2_download_link_*/
Round2 Project Submission Manual_en_0403.pdf
slides_sample.pptx
artifacts/features/
artifacts/output/
catboost_info/
